{% extends 'index.html' %}
{% block header%}
Dashboard 
{% endblock %}
{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-6">
                <div class="card mb-3">
                    
                    <img src="https://images.indianexpress.com/2022/03/GettyImages-children-falling-injury-1200.jpg" class="card-img-top" alt="image here">
                    <div class="card-body">
                      <h5 class="card-title"> <marquee behavior="alternate" direction="left">Team CLUMSY - Deviyani  |  Yogesh  |  Barath  |  Vijay</marquee> </h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aut libero, excepturi doloremque quia distinctio dolores ipsum asperiores laborum facilis nobis odio possimus cum amet temporibus quidem quas ab itaque.</p>
                      <p class="card-text"><small class="text-muted">Not completed yet - some process remains</small></p>
                    </div>
                  </div>

            </div>
            <div class="col-md-6">
                <h4 class="card-title">Pending Requests</h4>
                    {% for x in reqs %}
                    <div class="card my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{x}}</h5>
                            <div class="card-text mb-2">a while ago..</div>
                            <a href="/dashboard/{{x}}" class="btn btn-info">open request</a>
                        </div>
                    </div>
                        <!-- <li><a href="/dashboard/{{x}}">{{x}}</a></li> -->
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
