<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if utils %}
        <p>Login Failed</p>
    {% endif %}

    <h1>Login Form</h1>
    <form action="/" method="POST">
        <input type="email" placeholder="Email" name="email" autofocus required>
        <input type="password" placeholder="Password" name="pword" required>
        

        <button>Submit</button>

    </form>
</body>
</html>